*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family:  'Righteous', cursive;
}

.logo
{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo1
{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 35px;
}

h3{
  color: #400080;
}

.navbar-dark {
  background:linear-gradient(90deg,#400080,#000000);
  overflow: hidden;
}

.buton{
  background: linear-gradient(90deg,#400080,#000000);
  box-shadow: -2px -2px 3px rgba(30, 161, 179,0.2),
  3px 3px 3px rgba(0,0,0,0.2);
  color: white;
  width: 110px;
  text-align: center;
  border-radius: 15px;
  padding:5px;
  cursor: pointer;
}

.buton:hover
{
    color: white;
    background: linear-gradient(90deg,#000000,#400080);
    text-decoration: none;
}

.buton1{
  background: linear-gradient(90deg,#400080,#000000);
  box-shadow: -2px -2px 3px rgba(30, 161, 179,0.2),
  3px 3px 3px rgba(0,0,0,0.2);
  color: white;
  width: 35px;
  text-align: center;
  border-radius: 20px;
  padding:5px;
  cursor: pointer;
}

.buton1:hover
{
    color: white;
    background: linear-gradient(90deg, #000000,#400080);
    text-decoration: none;
}

.cartbuton{
  background: linear-gradient(90deg,#400080,#000000);
  box-shadow: -2px -2px 3px rgba(30, 161, 179,0.2),
  3px 3px 3px rgba(0,0,0,0.2);
  color: white;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.cartbuton:hover
{
    color: white;
    background: linear-gradient(90deg, #000000 ,#400080);
    text-decoration: none;
}

.background{
  font-family:  'Righteous', cursive;
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login{
  text-align: center;
  padding: 2px;
}

.login-form-1{
  background-image: url('./welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 9px 26px 0 rgba(0, 0, 0, 0.5);
}

.login-form-2{
  padding: 5%;
  text-align: center;
  background: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 9px 26px 0 rgba(0, 0, 0, 0.5);
}

input{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.profileshow{
  color: #400080;
}

.profile label{
  font-size: 17px;
  color: #400080;
}

.profile input{
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: #6600cc;
}

.footer {
  position: relative;
  bottom: 0;
  top: 20px;
  width: 100%;
  background: linear-gradient(90deg,#400080,#000000); 
  color: white;  
}

.footer a{
  color: white;    
}

.text-muted{
  color: white;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.pass-wrapper img {
  position: absolute;
  right: 1%;
  cursor: pointer;
}

.filter{
  height: 45px;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.filters label,.filters h6,.filters input{
  cursor: pointer;
}

.product{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:hover
{
  transform: translate3D(0,-1px,0) scale(1.03);
}

.modal-dialog{
  top:35%
}

.info{
  padding: 27px;
  text-align: center;
  font-size: 25px;
}