*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family:  'Righteous', cursive;
}

.logo
{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar-dark {
  background:linear-gradient(to right, #c94b4b, #4b134f);
  border-radius: 3px;
}

.bg
{
  background-image: url('./bg.jpg');
  background-repeat: repeat;
  position: relative;
  height: 86.5vh;
}

.cardbackground
{
  background-color: url('./card.jpg');
}

/* .form
{
  background:  linear-gradient(to left, #c0392b, #8e44ad);
  font-size: 0.7rem;
  color: floralwhite;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 0 rgb(0,0,0), 0 0 5px rgb(245, 245, 245),0 0 0 rgb(0,0,0), 0 0 5px rgb(245, 245, 245);
} */

.buton{
  background: linear-gradient(to left, #c0392b, #8e44ad);
  box-shadow: 2px 2px 2px #aaaaaa;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  padding:5px;
  cursor: pointer;
}

.buton:hover{
  background-color: coral;
}

.login{
  font-family:  'Righteous', cursive;
  background:  linear-gradient(to left, #c0392b, #8e44ad);
  padding: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  text-align: center;
}

input{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}